# .gitignore

.*
!.scripts
!.gitignore
!.editorconfig
!.latexmkrc

node_modules/
target/

*.aux
*.bbl
*.blg
*.bst
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lol
*.lot
*.ltjruby
*.nav
*.out
*.snm
*.toc
*.xmpi
